.signin-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://images.unsplash.com/photo-1469474968028-56623f02e42e?q=80&w=1774&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'), linear-gradient(to right, #000428, #004e92);
  background-size: cover;
  position: relative;
  overflow: hidden;
  animation: animateBg 30s linear infinite;
}
/* src/Login.css */



.form {
  position: relative;
  width: 300px;
  height: 390px;
  padding: 40px;
  background:white;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgb(125, 166, 98);
  border-radius: 5px;
  align-items: center;
}


.form h2 {
  font-size: 25px;
  color: rgb(213, 52, 122);
  text-align: center;
  padding-top: 2px;
}

.form-inner {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.content{
  width: 100%;
}

.form .input {
display: block;
padding: 15px 15px;
width: calc(100% - 30px);  
left: 50%;
border-radius: 10px;
align-items:center;
justify-content: center;
margin-top: 20px;
border: 1.5px solid rgb(109, 87, 121);
outline: none;
background: #cec9dd;
color: rgb(19, 9, 9);
}

.form .btn {
  width: 100%;
  padding: 10px;
  margin: 20px 0 0 0;
  background-color: PURPLE;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  
}


   



.form .btn:hover {
  background-color: #370d34;
}

button > .account{
  cursor:pointer;
  padding-top:30px;
  border: none;
  
  
}

.account{
  color:rgb(15, 14, 15);
  background-color:rgb(229, 230, 235);
  font-size: small;
  
}
.toggle {
  position: relative;
  display: inline-block;
  width:100%;
}
 .toggle.input{
  width:100%;
 }


.toggle .password-toggle {
  
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}




